HOST=0.0.0.0
PORT=1337
APP_KEYS=some,random,keys,here,each,base64
#Strapi
API_TOKEN_SALT=salt_base64
ADMIN_JWT_SECRET=jwt_secret_base64
TRANSFER_TOKEN_SALT=transfer_salt_base64
JWT_SECRET=secret_base64
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=hydro-db
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false

