files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDDgEphvbnrziaFf7Y5kCDa41oym2lqNfGuMUZ4mKEjv9ihVriC55qyt3Mkhqh74iaEg8S5a1/zLRYya8CtmJ3lUVQ8fjqXjhvkIjVzhrefSBCpy1VgGTcB0zhieObdrDjWF5STV9Rzctd5WoH226trulqDn+6jyIHcdt0pcuK2C6xAfZanN9YXBq7n14/bbNQ/sJFuwnk52ktUi1zvbS6QM88zCWWfqiqKdrWkiy0gtm09vCmkcWe5xGzRVaEw6ouigJsHmnkcgUfoWkzNBoFELkoh9gUdOfVF3mDTmd0c5dKJTAIqRbYb8R3A2F0wMBwQv9wUnpcM5TuSNYZx5+wzpToZlyhOtUpyuKXWlVPpWDkMaUOdV5g0xnP69/r0YAwF6TIZeRQJDms6iZgM4nzgIpdXPZrKXAJm0jKUf4vI4Ep86YVdSb5PSSnJcQEUlvpQbAjhOkzXsL0Xoj1a2Uf60yLoACjYjU1eo3XemjCyk4G+n34+2s9bZSNEIIfVduqOcqyiYl6/Ui03imfKdlHrAABP46OXnCsBhmrnbwi784JvqkFJ1qSl0kK4LsufJ7rQiyik4k6NMQkuqceE49GOh9pxAK29iWQMjEIdG+yBiofBt+SxC9+5vRshAYtIHoK5JZGLruDbQZwbFLkS4xneOv27/ldHzLrgOY07ZwbSnw== kevin.sanchez@vizzuality.com
      ssh-rsa ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCizu2EufV2kVMg6Bhla04fPu/Hyttiw8yLtaBekkFhOXshTYzHSlKFhnVGcBmkgwH8WXsCWNsdiTjimAUO0j1g9+sPeo66x/6eAuvVTbsx0QTzY1dvCkDR1UpuDJ/fNQZvoLhrJ5cSJleWrZc2oUnK7ekvNUMhb+Y1fbPz9/gXg+tCRTmOIMjD9ueSPb8iwFU+mYFdZ54kyIpYxRpKXjYzS5mdAym3bw8WqNKIXW4045pCaChbZ6RJE9SxxJ3Y0UBoI/AykWf0FCDJjhiW0Dbw8IUvL7fcmDYXQLPv2oUURt/uDh46xgZ+sEt3YqtdTn0EQ33pfC/w/JCaE9efvpF1wugvpRTvE2CpHuWmubtFOZRHsyGtA7ui9Noif2df7IoV7SR8ELwr6tyLvT7dZ+XFGOwzDLfbv6T9N+KfWOb5/zOlrAqvSfeRLrirAKIEXkB1Q0sDvs+1wZvdnWwUGmgjbYVtTRkg3vJ/OlA6y7cFkSXiCoIQDm0KgSJwrN6NFSM= iker@OMEN
commands:
  01_touch_keys_file:
    cwd: /home/ec2-user/.ssh/
    command: touch authorized_keys
  02_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys
